body {
    padding: 0px;
    margin: 0px;
    background: #eee;
    font: 200 0.8em #222;
}
div.header {
    background: #222;
    color: #ffe;
    width: 100%;
    height: 40px;
}
div.footer {
    clear: both;
    background: #222;
    height: 30px;
}
p.title {
    position: absolute;
    top: 7px;
    left: 20px;
    margin: 0px;
    padding: 0px;
    font-size: 1.4em;
}
div.main div {
    float: left;
    margin: 10px;
    padding: 5px;
    background: #ddd;
}
.col1 { width: 40px; }
.col2 { width: 80px; }
.col3 { width: 120px; }
.col4 { width: 160px; }
.col5 { width: 200px; }
.col6 { width: 240px; }
.col7 { width: 280px; }
.col8 { width: 320px; }
.col9 { width: 360px; }
.col10 { width: 400px; }
